* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  padding: 10px;
}

.list-of-months {
  margin: 80px;
  align-items: start;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, (100%/3));
  row-gap: 50px;
  &__select {
    position: absolute;
    width: 330px;
    height: 40px;
    top: 20px;
    outline: none;
    right: -50px;
    transform: translateX(-50%);
    background-color: #9993ed;
    padding-left: 4.2%;
    font-size: 24px;
    border-radius: 25px;
    max-width: 200px;
  }
}

.current-month {
  position: relative;
  margin: 21px 40px 0;
  max-width: 350px;
  &__form {
    position: absolute;
    left: 50px;
    & span {
      font-size: 18px;
    }
    & input {
      font-size: 15px;
    }
    & button {
      margin-left: 5px;
      font-size: 15px;
      background: #9993ed;
      border: none;
      cursor: pointer;
      outline: none;
      border-radius: 3px;
    }
  }
}

.button-reset {
  display: block;
  margin: 10px auto;
  margin-top: 10px;
  width: 250px;
  height: 40px;

  font-size: 24px;

  background-color: #9993ed;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #eec01a;
    background-color: #7c74fc;
  }
}
