.action {
  text-align: center;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__select,
  &__input {
    font-family: "Raleway";
    outline: none;
    border: none;
    background-color: #9993ed;
    border-radius: 25px;
    max-width: 125px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding-left: 15px;
  }

  &__button {
    outline: none;
    width: 25px;
    line-height: 25px;
    background-color: #9993ed;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    border: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #7c74fc;
    }
  }
}
